div.gameboard {
    background-color: rosybrown;
    height: 40em;
    width: 40em;
}
.col {
    border: 1px red solid;
    height: 40px;
    width: 40px;
    button {
        height: 100%;
        width: 100%;
    }
}

.activeButton {
    color: violet
}
.signsThatLost {
    color: gray;
}
.flicker {
    animation: blinker 0.2s linear 3;
}
@keyframes blinker {
    0% { opacity:1; }
    50% {opacity: 0;}
    100% { opacity:1; }
  }